{% extends "layouts/default.html" %}
{% block pageTitle %}Design history prototype{% endblock %}

{% block header %}
  {{ appAdminHeader({
    organisationName: "Design History",
    homepageUrl: "/",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}

  <div class="app-masthead app-masthead--teal">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-7">
            Keep a design history
          </h1>
          <p class="govuk-body-l">Document and share design decisions. Create a record of how your service has developed over time.</p>

          <div class="govuk-button-group">
            {{ govukButton({
              classes: 'app-button govuk-!-margin-bottom-6',
              text: 'Start now',
              href: '/admin/new-user/email',
              isStartButton: true
            }) }}
            <p>or <a href="#" class="app-!-inherit-colour govuk-!-margin-left-2 govuk-!-font-weight-bold">Sign in</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-m">What is a design history</h2>
      <p>A design history is like a blog. It features posts that describe the development of new features, iterations of existing ones, or findings from user research. It will contain anything that may be useful to return to later.</p>
      <p>Over time, a design history becomes a record of your designs. It tells the story of what you designed and why.</p>

      <p>
        <a href="#">Example design history</a>
      </p>

      <h2 class="govuk-heading-m">Why you should keep a design history</h2>
      <p>Keeping a design history makes it easy to know why a service is the way it is.</p>
      <p>As services age, as they’re iterated, built and rebuilt, and team members come and go, institutional memory fades and questions about why a service is the way it is become hard to answer. Context gets lost, research disappears and the design becomes opaque.</p>

      <h2 class="govuk-heading-m">Examples</h2>

    </div>
  </div>
{% endblock %}
