<header class="govuk-header app-header app-header--admin" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container app-header__container">
    <div class="govuk-header__logo app-header__logo">
      <a href="{{ params.homepageUrl | default("/") }}" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          {% if params.organisationLogo == "crown" %}
            {% include "./_crown.svg" %}
          {% elif params.organisationLogo %}
            {{ params.organisationLogo | safe }}
          {% endif %}
          <span class="govuk-header__logotype-text">
            {{ params.organisationName }}
          </span>
        </span>
      </a>
    </div>
  </div>
</header>
