{% extends "layouts/wizard.html" %}
{% set title = "Create your password" %}

{% block form %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  <p>Your password must:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>be at least 8 characters long</li>
    <li>include letters and numbers</li>
  </ul>

  <p>Do not use a very common password, such as ‘password’ or a sequence of numbers.</p>

  {{ govukInput({
    label: {
      text: "Enter a password"
    },
    type: 'password',
    decorate: 'password'
  }) }}

  {{ govukInput({
    label: {
      text: "Re-type password"
    },
    type: 'password',
    decorate: 'confirm-password'
  }) }}

  <h2 class="govuk-heading-m">Agree to our terms of use</h2>

  <p>By continuing, you confirm that you agree to our:</p>

  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
    <li><a href="#">privacy notice</a></li>
    <li><a href="#">terms and conditions</a></li>
  </ul>
{% endblock %}
