.app-design-history--nhs {
  background-color: #f0f4f5 !important;

  .app-header--design-history {
    background-color: #005eb8;
  }

  .app-header--design-history .govuk-header__container {
    border-color: #fff;
    border-width: 2px;
  }

  .app-masthead {
    background-color: #005eb8;
  }

  .app-footer {
    background: #f0f4f5;
  }
}
