{% extends "layouts/default.html" %}
{% block pageTitle %}Design history prototype{% endblock %}

{% block header %}
  {{ appHeader({
    organisationName: "Design History",
    homepageUrl: "/",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}

  <div class="app-masthead app-masthead--purple">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
            Design history prototype
          </h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p>Journeys for a design history service.</p>

      {{ govukButton({
        classes: 'app-button',
        text: 'Start now',
        href: '#',
        isStartButton: true
      }) }}
    </div>
  </div>
{% endblock %}
